**\*.vpk
**\*.vdf
**\*.dem
**\*.txt
**\*.cache
**\*.inf



**\custom\ABS_MRP\*
**\custom\meme\*
**\custom\tr_medic\*


**\bin\*
**\cache\*
**\demos\*
**\download\*
**\downloadlists\*
**\logs\*
**\maps\*
**\materials\*
**\media\*
**\replay\*
**\resource\*
**\screenshots\*
**\scripts\*
**\sound\*
**\streams\*
\tf2\*
**\workshop\*
